/* Задача МИКСа: Несколько блокков меняются в размерах по схожим законам -> объединить */

/* 1280px+: width фиксированный 984px */

.margin_type_narrow {
    width: 984px;
}

@media screen and (max-width: 1250px) {
    .margin_type_narrow {
        width: 928px;
    }
}

@media screen and (max-width: 1000px) {
    .margin_type_narrow {
        width: 720px;
    }
}

/* 288/320 = 90% */
@media screen and (max-width: 750px) {
    .margin_type_narrow {
        width: 90%;
    }
}