.lead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 56px;
    max-width: 984px;
}

@media screen and (max-width: 1250px) {
    .lead {
        max-width: 928px;
        padding-top: 48px;
    }
}

@media screen and (max-width: 1000px) {
    .lead{
        width: 100%;
    }
}