.cover__subtitle {
    text-decoration: none;
    color: white;
    margin:0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 32px;
    max-width: 360px;
}

@media screen and (max-width: 750px) {
    .cover__subtitle {
        font-size: 15px;
        line-height: 19px;
        max-width: 324px;
        padding-top: 24px;
    }
}

@media screen and (max-width: 500px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        padding-top: 16px;
    }
}
