.header__logo {
    width: 176px;
    height: 52px;
}

/* 768px -> 320px: height 52px -> 42px */
/* 768px -> 320px: width 1762px -> 142px */
@media screen and (max-width: 768px) {
    .header__logo {
        width: calc(142px + (100vw - 320px)*(176 - 142)/(768 - 320));
        height: calc(42px + (100vw - 320px)*(52 - 42)/(768 - 320));
    }
}

/* 320px-: height 42px */
/* 320px-: width 142px */
@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}