.header {
    padding-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

/* 768px -> 320px: padding 28px -> 16px */
@media screen and (max-width: 768px) {
    .header {
        padding-top: calc(16px + (100% - 320px) * (28 - 16) / (768 - 320));
    }
}

/* 320px-: padding 16px */
@media screen and (max-width: 320px) {
    .header {
        padding-top: 16px;
    }
}

