.places__link-cont {
    grid-area: link;
    align-self: end;
}

/* 700px-: меняем grid на flex - иначе текст становится плохо читаемым */
@media screen and (max-width: 750px) {
    .places__link-cont{
        align-self: flex-start;
    }
}
