.places__pic {
    grid-area: img;
    width: 460px;
    height: 460px;
}

@media screen and (max-width: 1250px) {
    .places__pic {
        width: 440px;
        height: 440px;
    }
}

@media screen and (max-width: 1000px) {
    .places__pic {
        width: 340px;
        height: 340px;
    }
}

@media screen and (max-width: 750px) {
    .places__pic {
        width: 320px;
        height: 320px;
    }
}

/* 320px-: фиксируем размер 320px */
@media screen and (max-width: 600px) {
    .places__pic {
        align-self: center;
        width: 320px;
        height: 320px;
    }
}