.header__lang-text {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    padding:0;
    margin-bottom: 6px;
    transition: opacity 0.3s;
}

.header__lang-text:focus {
    box-shadow: 0 2px 0 white;
    color: white;
}

.header__lang-text:hover {
    opacity: 0.3;
}

/* 768px -> 320px: font-size 24px -> 18px */
/* 768px -> 320px: line-height 28px -> 20px */
@media screen and (max-width: 768px) {
    .header__lang-text {
        font-size: calc(18px + (100vw - 320px)*(24 - 18)/(768 - 320));
        line-height: calc(20px + (100vw - 320px)*(28 - 20)/(768 - 320));
    }
}

/* 320px-: font-size 18px */
/* 320px-: line-height 20px */
@media screen and (max-width: 320px) {
    .header__lang-text {
        font-size: 18px;
        line-height: 20px;
    }
}