.intro__title {
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

/* 768px -> 320px: font-size 54px -> 32px */
/* 768px -> 320px: line-height 58px -> 35px */
@media screen and (max-width: 768px) {
    .intro__title  {
        font-size: calc(32px + (100vw - 320px) * (54 - 32) / (768 - 320));
        line-height: calc(35px + (100vw - 320px) * (58 - 35) / (768 - 320));
    }
}

/* 320px-: font-size 32px */
/* 320px-: line-height 35px */
@media screen and (max-width: 320px) {
    .intro__title  {
        font-size: 32px;
        line-height: 35px;
    }
}